body {
  margin: 0;
  font-family: "Helvetica"; }

.form-control {
  width: 30%; }
  @media (max-width: 768px) {
    .form-control {
      width: 100%; } }

.btn, .form-check {
  margin: 15px 0; }

h2 {
  margin: 15px 0; }

.filter-type {
  margin-left: 0;
  width: 30%; }
  @media (max-width: 768px) {
    .filter-type {
      width: 100%; } }

#map {
  width: 100%;
  height: 600px;
  background-color: #EEEEEE; }
